<template>
    <div class="search">
        <input type="text" id="search" name="search" placeholder="Search Todo's..." @keyup="filterShoppingList"/>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                searchTerm: '',
                groceries: [],
                costco: [],
                target: []
            }
        },
        methods: {
            filterShoppingList() {
                const searchTerm = document.getElementById('search').value;
                this.$emit('filter-groceries', searchTerm);
            }
        }
    }
</script>

<style>
#search {
    width: 100%;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
}
</style>