<template>
    <div class="shopping-list">
        <h1>my shopping list</h1>
        <ul>
            <li class="completed">{{item1}}</li>
            <li>{{item2}}</li>
            <li>{{item3}}</li>
            <li>{{item4}}</li>
            <li>{{item5}}</li>
            <li>{{item6}}</li>
            <li>{{item7}}</li>
            <li>{{item8}}</li>
            <li>{{item9}}</li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            item1: 'Oatmeal',
            item2: 'Milk',
            item3: 'Banana',
            item4: 'Strawberries',
            item5: 'Lunch Meat',
            item6: 'Bread',
            item7: 'Grapes',
            item8: 'Steak',
            item9: 'Salad'
        }
    }
}
</script>

<style>
    .shopping-list {
    width:450px;
    background: #fff;
    margin: 50px auto;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
}
h1 {
    background:#f2f2f2;
    color:#5c8578;
    padding:10px;
    font-size:24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
li {
    font-size: 24px;
    border-bottom:1px solid #f2f2f2;
    padding:10px 20px;
}
li:last-child{
    border:0px;
}
li.completed {
    text-decoration: line-through;
    color:darkgrey;
}
</style>
