ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

li {
	display: inline;
}

.aboutContainer p{
	padding: 0;
	margin: 0;
}

#reviewForm {
	display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
}

.usernameText {
	width: 150px;
}

#ratingDropdown {
	width: 70px;
}

#titleInputBox {
	width: 250px;
}

#reviewSubmitButton {
	margin-top: 10px;
	width: 50px;
}

.reviewBox {
	border-bottom: solid 1px lightgray;
	background-color: white;
}

.reviewBox:hover {
	background: url("https://wallup.net/wp-content/uploads/2015/12/24392-abstract-pop_art-anime-Jared_Nickerson-artwork-748x421.jpg");
}

.reviewBox p {
	margin: 3px;
}

#titleAndUsernameContainer {
	display: flex;
}

#titleAndUsernameContainer h3 {
	margin: 0;
}

.reviewBox > * {
	padding: 5px;
}

.reviewContainer {
	max-width: 1000px;
}

body {
	background: url("https://wallpapercave.com/wp/wp1826849.jpg");
}

h2 {
	background-color: white;
    margin: 0;
    padding-bottom: 15px;
}

.aboutContainer {
	background-color: white;
}

.pageTitle {
	background-color: white;
	width: 300px;
    text-align: center;
    margin: 0;
}

@-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg) }
    to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0deg) }
    to   { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(0deg) }
    to   { transform: rotate(360deg) }
}

body {
    -moz-animation-name: roll;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
}

