﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	width: 280px;
    max-width: 280px;
}

button {
	display: block;
	margin-top: 10px;
	border-radius: 4px;
	height: 35px;
	width: 80px;
	background-color: #3980c3;
	color: white;
}


.error {
	color: red;
}