:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

body {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
}

aside {
  display:flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  flex-shrink:0;
  flex-grow: 0;
  text-transform: uppercase;
}
aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin: auto;
  padding: 0;
  font-weight: bold;
}

aside a {
  text-decoration: none;
  color: #00adee;
}

aside li:hover {
  border: 0;
}
aside li {
  flex: 1;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 173, 238, 0.4);
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

main { 
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "header . . "
  "mainimg mainimg mainimg"
  "section section section"
  "footer footer footer";
  grid-gap: 10px;
}

main img {
  grid-area: mainimg;
  padding: 10px;
}

section {
  grid-area: section;
  display: flex;
}
section div {
  flex: 1;
  border-right: solid;
  border-color: rgba(170, 239, 135, 0.8);
  border-width: 1px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#contact-us {
  border-right: 0;
}

footer {
  grid-area: footer;
}
header {
  grid-area: header;
  height: 150px;
}

header img {
  height: auto;
}



h2 {
  background-color: lightg;
  color: #8cc36f;
}

i {
  padding-right: 10px;
}

header img {
  margin: auto;
  width: 70%;
  max-height: 140px;
}
header p {
  margin: auto;
  padding-left: 15px;
}
aside img {
  margin: auto;
  width: 70%;
}

#social {
  display: flex;
  text-align: right;
  justify-content: space-between;
}
#logos {
  display: flex;
 width: 40px;
 height: 40px;
 justify-content: flex-end;
}



  /*
  header img {
    width: 60%;
    height: 60%;
  }
  main > img {
    grid-area: mainimg;
    size: 10%;
  }

  section {
    grid-area: section;
    /*
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    */
    /*
  }
  /*
  footer {
    height: 10px;
    grid-area: footer;
  }
/*
  #what-we-do {
    height: 250px;
    width: 400px;
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 0;
  }

  #our-work {
    height: 250px;
    width: 400px;
    flex-basis: 1;
    flex-shrink: 0;
    flex-grow: 0;
  }

  #contact-us {
    height: 250px;
    width: 400px;
    flex-basis: 1;
    flex-shrink: 0;
    flex-grow: 0;
  }
*/
/*
aside img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#logos {
  display: block;
  height: 10px;
  width: 10px;
}